@model IEnumerable<Web.Models.CandidateListModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Candidates</h3>

<p>
    <a asp-action="Register">Register New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    <a href="#" class="remove-candidate" data-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".remove-candidate").click(function () {
                let id = $(this).data('id');

                if (!id) {
                    alert('Entry is not correct.');
                    return;
                }

                if (confirm('Are you sure you want to remove this candidate?')) {
                    $.ajax({
                        url: '@Url.Action("Remove","Candidate", new { id = "__id__" })'.replace("__id__", id),
                        cache: false,
                        method: 'DELETE',
                        data: {}
                    }).done(function () {
                        window.location.reload(true);
                    }).fail(function (response) {
                        console.location(response);
                        alert('failed to remove candidate!');
                    });
                }
            });
        });
    </script>
}