@model IEnumerable<Web.Models.VacancyListModel>

@{
    ViewData["Title"] = "Vacancies";
}

<h1>Vacancies</h1>

<p>
    <a asp-action="CreateVacancy" asp-route-client="@ViewBag.Client">Open New Vacancy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                    <a asp-action="EditVacancy" asp-route-id="@item.Id" asp-route-client="@item.ClientId">Modify</a> |
                    <a asp-action="Requirements" asp-route-client="@item.ClientId" asp-route-vacancy="@item.Id">Requirements</a> |
                    <a class="close-vacancy" href="#" data-id="@item.Id" data-client="@item.ClientId">Close</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".close-vacancy").click(function () {
                let id = $(this).data('id');
                let client = $(this).data('client');

                if (!id || !client) {
                    alert('Entry is not correct.');
                    return;
                }

                if (confirm('Are you sure you want to close this vacancy?')) {
                    $.ajax({
                        url: '@Url.Action("CloseVacancy","Client", new { client = "__client__", id = "__id__" })'.replace("__client__", client).replace("__id__", id),
                        cache: false,
                        method: 'PUT',
                        data: {}
                    }).done(function () {
                        window.location.reload(true);
                    }).fail(function (response) {
                        console.location(response);
                        alert('failed to close vacancy.');
                    });
                }
            });
        });
    </script>
}